@import "colors";

.btn {
  background: transparent;
  border-radius: 3px;
  border: 2px solid $colors-highlight;
  color: $colors-highlight;
  margin: 0 1em;
  padding: 0.25em 1em;
}

.highlight {
  background: $colors-highlight;
  color: $colors-white;
}

.danger {
  color: $colors-danger;
  border: 2px solid $colors-danger;

  &.highlight {
    background: $colors-danger;
    color: $colors-white;
  }
}